@charset "UTF-8";

@font-face {
    font-family: GenShinGothic;
    src: url("../fonts/GenShinGothic-Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: GenShinGothic;
    src: url("../fonts/GenShinGothic-Heavy.woff") format("woff");
    font-weight: 900;
}

@font-face {
    font-family: GenShinGothic;
    src: url("../fonts/GenShinGothic-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: HannariMincho;
    src: url("../fonts/HannariMincho-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: NotoSansJP;
    src: url("../fonts/NotoSansJP-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: Philosopher;
    src: url("../fonts/Philosopher-Italic.woff") format("woff");
    font-weight: italic;
}

@font-face {
    font-family: Philosopher;
    src: url("../fonts/Philosopher-Regular.woff") format("woff");
    font-weight: 400;
}

/* 共通項目 */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.17vw;
    /* 16px/1366px */
    color: #212529;
    font-family: NotoSansJP, "Helvetica Neue", Arial, "Hiragino Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.container {
    padding: 0 1.46vw;
    overflow: hidden;
}

.contents_width {
    width: 100%;
    max-width: 79.5vw;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    line-height: 1;
}

.sp_only {
    display: none;
}

img {
    max-width: 100%;
}

a {
    color: #212529;
    text-decoration: none;
}

li {
    list-style: none;
}

.font_philosopher {
    font-family: Philosopher;
    font-weight: 400;
}

.font_Hannari {
    font-family: HannariMincho;
    font-weight: 400;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex_sb {
    display: flex;
    justify-content: space-between;
}

header {
    background-image: url(../images/header.jpg);
    background-size: cover;
    height: 66.62vw;
}

header .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding-top: 1.46vw;
}

.header_contents {
    max-width: 46.12vw;
}

header .wrapper h1 {
    font-size: 5.12vw;
    letter-spacing: .12em;
    color: #63977E;
}

header .wrapper p {
    font-size: 2.05vw;
    letter-spacing: .08em;
    padding-top: 1.1vw;
}

header .wrapper img {
    display: block;
    max-width: 28.55vw;
    margin: 3.66vw auto 4.03vw;
}

.underline {
    display: inline-block;
    background: linear-gradient(transparent calc(100% - .59vw), #b391a2 calc(100% - 59vw));

}

.underline_medium {
    display: inline-block;
    background: linear-gradient(transparent calc(100% - .81vw), #b391a2 calc(100% - .81vw));
}

.underline_bold {
    display: inline-block;
    background: linear-gradient(transparent calc(100% - .95vw), #b391a2 calc(100% - .95vw));
    line-height: 1.5;
}

.header_text_01 {
    font-size: 2.49vw;
    line-height: calc(36 / 34);
}

.header_text_02 {
    font-size: 3.29vw;
    line-height: 1.5;
}

#instagram .instagram_title {
    text-align: center;
    padding-top: 2.86vw;
}

#instagram .instagram_title p {
    padding-top: 1.24vw;
    font-size: 2.49vw;
}

#instagram .instagram_post {
    display: flex;
    justify-content: space-around;
    padding-top: 3.29vw;
    padding-bottom: 4.39vw;
}

#instagram .instagram_post .posting {
    width: 12.5179vw;
    height: 37.85vw;
    border: solid 1px #a9a9a9;
    object-fit: cover;
}

#instagram .instagram_post .posting .icon_img {
    width: 2.34vw;
    margin: 0.37vw
}



#instagram .instagram_post .posting .posting_text {
    padding: 1.1rem 0.3rem;
    line-height: calc(20 /16)
}

#instagram .instagram_post .posting .posting_date {
    text-align: right;
    padding-top: 2.3rem;
}

.campaign {
    background-image: url(../images/cv.jpg);
    background-size: cover;
}

.campaign .contents_width {
    padding: 4.54vw 0;
}

.campaign_img {
    width: 29.36vw;
}

.campaign .capacity {
    font-size: 2.05vw;
    padding-top: 1.32vw;
    text-align: center;
}

.campaign h3 {
    font-size: 4.03vw;
}

.campaign h3+div {
    font-size: 2vw;
    padding-bottom: 1.83vw;
    border-bottom: solid 1px #91b3a2;
}

.campaign .flex_sb {
    padding-top: 7.03vw;
}

.campaign .price_box .flex {
    padding-top: 2vw;
    padding-bottom: 2.5vw;
}

.campaign .usual_price_01 {
    position: relative;
    font-size: 2vw;
}

.campaign .usual_price_01::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background: linear-gradient(transparent 50%, #000 50%, #000 55%, transparent 55%);
}

.campaign .usual_price_02 {
    font-size: 2.2vw;
}

.campaign .bargain_price {
    color: #ff0000;
    font-size: 7.91vw;
    padding-left: 1.61vw;
}

.campaign .bargain_price span {
    font-family: NotoSansJP;
    font-weight: 500;
    font-size: 3.9vw;
}

.campaign .bargain_price span+span {
    color: #212529;
    font-size: 2vw;
}

.campaign .btn {
    font-size: 3.73vw;
    color: #fff;
    letter-spacing: .1em;
    width: 100%;
    background: linear-gradient(#afc8bb, #91b3a2);
    border-radius: .8vw;
    padding: 1.05vw 0;
    cursor: pointer;
}

.campaign .price_box .lead {
    padding-top: 1.5vw;
}

.campaign .price_box .lead .cancel {
    color: #bc0000;
    font-size: 3vw;
}

.campaign .price_box .lead .limit {
    font-size: 2.12vw;
    letter-spacing: 0.03em;
}

#empathy {
    background-image: url(../images/empathy.jpg);
    background-size: cover;
    height: auto;
}

#empathy .contents_width {
    padding-top: 3.25vw;
}

#empathy .contents_width h2 {
    font-size: 5.3vw;
    letter-spacing: 0.07em;
    color: #63977E;
}

#empathy .contents_width .underline_bold {
    line-height: 1.3;
}

#empathy .checkbox {
    padding-top: 10.2vw;
    padding-bottom: 12.15vw;
}

#empathy .checkbox .checklist:nth-child(n + 2) {
    padding-top: 4.25vw;
}

#empathy .checkbox .checklist img {
    display: inline-block;
    width: 2.1vw;
    margin: 0 1.83vw 0 0.37vw;
}

#empathy .checkbox .checklist span {
    font-size: 2.05vw;
    letter-spacing: 0.07em;
    line-height: 1;
}

@media (max-width: 1024px) {
    html {
        font-size: 1vw;
    }

    .sp_only {
        display: block;
    }

    .pc_only {
        display: none;
    }

    header {
        position: relative;
        background-image: url(../images/header_sp.jpg);
        height: 145vw;
    }

    .container {
        /* padding: 0 11.47vw; */
        padding: 0 10vw;
    }

    .contents_width {
        width: 100%;
        max-width: 78.67vw;
        margin: 0 auto;
    }

    header .wrapper {
        display: block;
    }

    .header_contents {
        max-width: 100%;
        padding-top: 5.3vw;
    }

    header .wrapper h1 {
        font-size: 8.27vw;
    }

    header .wrapper p {
        font-size: 3.84vw;
        color: #fff;
        padding-top: 2.1vw;
    }

    header .wrapper img {
        position: absolute;
        top: 100vw;
        left: 50vw;
        max-width: 38.4vw;
        margin: 0;
    }

    .underline {
        display: inline-block;
        background: linear-gradient(transparent calc(100% - .8vw), #b391a2 calc(100% - .8vw));

    }

    .underline_bold {
        display: inline-block;
        background: linear-gradient(transparent calc(100% - 1.07vw), #b391a2 calc(100% - 1.07vw));
    }

    .block_title {
        display: block;
        width: 72vw;
        margin: 0 auto;
    }

    .header_text_01 {
        font-size: 3.73vw;
        color: #fff;
    }

    .header_text_02 {
        font-size: 4.88vw;
        color: #fff;
    }

    .header_box {
        position: absolute;
        top: 115vw;
    }

    #instagram .instagram_title {
        padding-top: 5.87vw;
    }

    #instagram .instagram_title p {
        padding-top: 1.33vw;
        font-size: 3.36vw;
    }

    #instagram .instagram_post {
        gap: 2.67vw;
        padding-top: 4vw;
        padding-bottom: 12.53vw;
    }

    #instagram .instagram_post .posting {
        width: 22.67vw;
        height: 79.2vw;
    }

    #instagram .instagram_post .posting .icon_img {
        width: 4vw;
        margin: 1.6vw;
    }

    #instagram .instagram_post .posting .posting_date {
        padding-right: 1.87vw;
    }

    .campaign {
        background-image: url(../images/cv_sp.jpg);
    }

    .campaign .flex_sb {
        padding-top: 5.33vw;
    }

    .campaign .campaign_img_sp {
        width: 28.8vw;
    }

    .campaign .campaign_img_box .usual_price {
        padding-top: 4vw;
    }

    .campaign .sp_only .usual_price_01 {
        font-size: 3.36vw;
    }

    .campaign .sp_only .usual_price_02 {
        font-size: 3.84vw;
        padding-top: 1.6vw;
    }

    .campaign h3 {
        font-size: 3.73vw;
    }

    .campaign h3+div {
        font-size: 2.67vw;
        padding-bottom: 1.5vw;
    }

    .campaign .capacity {
        font-size: 2.88vw;
        padding-top: 3vw;
        text-align: left;
    }

    .campaign .price_box .flex {
        padding-top: 0;
        padding-bottom: 0;
    }

    .campaign .price_box .lead {
        padding-top: 3vw;
    }

    .campaign .price_box .lead .cancel {
        font-size: 3.47vw;
    }

    .campaign .price_box .lead .limit {
        font-size: 2.67vw;
        padding-top: 0;
    }

    .campaign .bargain_price {
        font-size: 14.4vw;
        padding-top: 2vw;
    }

    .campaign .btn {
        font-size: 4.32vw;
        letter-spacing: .6em;
        width: 85%;
        border-radius: 2.67vw;
        padding: 2.4vw 0;
        margin: 0 auto;
        text-indent: 5vw
    }

    #empathy {
        background-image: url(../images/empathy_sp.jpg);
    }

    #empathy .contents_width {
        padding-top: 3.2vw;
    }

    #empathy .contents_width h2 {
        font-size: 5vw;
    }

    empathy .checkbox {
        padding-top: 10.6vw;
        padding-bottom: 20vw;
    }

    #empathy .checkbox .checklist img {
        width: 3.47vw;
    }

    #empathy .checkbox .checklist span {
        font-size: 3.36vw;
    }

    #empathy .checkbox .checklist:nth-child(n + 2) {
        padding-top: 5.8vw;
    }

}